{% extends "layout.html" %}

{% block head %}
	<script>
	{% if flag==0 %}
	document.addEventListener('DOMContentLoaded', ()=>{
		document.querySelector("#button").disabled=true;
		document.querySelector('#review').onkeyup= ()=>{
			if (document.querySelector('#review').value.length>0)
				document.querySelector('#button').disabled=false;
			else
				document.querySelector('#button').disabled=true;
		}
	})
	{% endif %}
	function updateTextInput(val) {
          document.querySelector('#center').innerHTML=val;
        }
	</script>
{% endblock %}

{% block heading %}
	<h2 style="text-align:center;" >book details</h2>
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
  <div class="container-fluid">
		<div class="row">
		<div class="col-8">
  <h3>Search Results!</h3>
  <ul class="list-group">


  <li class="list-group-item"><strong>Book Name:</strong> {{ book[0].title }}</li>
  <li class="list-group-item"><strong>Book Author:</strong>  {{ book[0].author}}</li>
  <li class="list-group-item"><strong>Publication Year:</strong>  {{ book[0].pyear}}</li>
  <li class="list-group-item"><strong>ISBN NO:</strong> {{ book[0].isbn }}</li>
  <li class="list-group-item"><strong>Goodreads No of rating:</strong> {{ no_of_rating }}</li>
  <li class="list-group-item"><strong>Goodreads Average rating:</strong>  {{ avg_rating }}</li>

</ul>
			</div>


{% if flag==0 %}
	<div class="col-4">
		<form action="{{url_for("review")}}" method="post">
			<div class="row">
				<h3>Submit your review</h3>
				<textarea id="review" row="3" cols="50" name="text" placeholder="your review text!">  </textarea>
			</div>

			<div class="row">
    	<h3>Pick your rating= </h3>
      <div><h3 id="center">3</h3></div>
		</div>
		<div class="row">
  		<input name="rating" width="300" type="range" class="slider" min="1" max="5" onchange="updateTextInput(this.value)">
			</div>
			<div class="row">
			<button id="button">Submit!</button>
			</div>
	</form>
	</div>

{% else %}
	<div class="col-4">
		<h3> Your Submitted Review</h3>
	<textarea row="3" cols="50" readonly="readonly">{{ text }}</textarea>
	<strong>point on scale of 5 :</strong> {{ range }}
	<div><a href="{{url_for("LogIN")}}">Go to Homepage</a></div>
	<div><a href="{{url_for("logout")}}">Log Out</a></div>

	</div>
{% endif %}
</div>
</div>
</div>
{% endblock %}
