{% extends "layout.html" %}

{% block head %}
<script>
document.addEventListener('DOMContentLoaded', ()=>{
	document.querySelector('#button').disabled=true;
	document.querySelector('#searchForBook').onkeyup= ()=>{
		if (document.querySelector('#searchForBook').value.length>0)
			document.querySelector('#button').disabled=false;
		else
			document.querySelector('#button').disabled=true;
	}
})
</script>

{% endblock %}

{% block heading %}
	Book-Reviews
{% endblock %}

{% block body %}
<div class="jumbotron">
hii {{name}}. Select dropdown in which result is shown!
<form action="{{url_for('search')}}" method="post">
		<select  name="searchtype" class="dropdown">
				<option value='title'>TITLE</option>
				<option value='isbn'>ISBN</option>
				<option value='author'>AUTHOR</option>
			</select>
  <input id="searchForBook" name="search" type="text" placeholder="SEARCH ISBN/TITLE/AUTHOR ">
	<br>
	<button id="button">Search</button>
</form>

<div>
<a href="{{url_for("logout")}}" method="post">Log Out!</a>
</div>
</div>
{% endblock %}
