{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}
<div class="container-fluid">
  <h3>Your search result</h3>
<ul class="list-group">
  <div class="row">
    <div class="col-4">
    {% for item in result %}
      {% if searchtype=="title" %}
        <li class="list-group-item"><a name="details" href="/book/{{ item.isbn }}">{{ item.title}}</a></li>

      {% elif searchtype=="author" %}
        <li class="list-group-item"><a name="details" href="/book/{{ item.isbn }}">{{ item.author}}</a></li>

      {% else %}
        <li class="list-group-item"><a name="details" href="/book/{{ item.isbn }}">{{ item.isbn}}</a></li>

      {% endif %}
    {% endfor %}
  </div>
  <div class="col-4">
    <div><a href="{{url_for("LogIN")}}">Go to Homepage</a></div>
    <div><a href="{{url_for("logout")}}">Log Out</a></div>

  </div>
  </div>
</ul>
</div>
{% endblock %}
